@import "../Variables/variables.scss";
@import "../Mixins/mixins.scss";
  
.navbar {
    background: $deepBlue;
    ul{
        width: 100%;
    }
    li{
        list-style-type : none;
        float: left;
        width: 14%;
    }
    a {
        color: $offWhite;
        text-decoration: none;
        padding: 16px 0;
        display: block;
        text-align: center;
    }
}

.navbar ul:after{
    content: "";
    display: block;
    clear: both;
}
