@import "../Variables/variables.scss";
@import "../Mixins/mixins.scss";
  
.navbar {
    background: $deepBlue;
    ul{
        width: 100%;
        @include clearFix;
    }
    li{
        list-style-type : none;
        float: left;
        width: (100% / 6);
        
        @include mQ(600px){
            width: 100%;
        }
    }
    a {
        color: $offWhite;
        text-decoration: none;
        padding: 16px 0;
        display: block;
        text-align: center;

        &:hover{
            background: lighten($color: $deepBlue, $amount: 5);
        }
    }
}

